.width {
  width: 100%;
}

.main {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  max-width: 1440px;
  margin: 0 auto;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.main-info {
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;

  background: linear-gradient(91.24deg, #1EAB5F 0.36%, #E7B97E 103.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-info2 {
  font-size: 30px;
  line-height: 35px;

  color: #FFFFFF;
}

.green {
  color: #1EAB5F;
}

.connection {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.connection-info {
  display: flex;
}

.connection input {
  width: 100%;
  box-sizing: border-box;

  background-color: inherit;
  color: #1EAB5F;
  font-size: 25px;
  padding-left: 15px;

  border: 1px solid #1EAB5F;
  border-radius: 5px;

}

.connection button {
  width: 100%;
  padding: 10px 30px;
  margin: 0 auto;

  background: #1EAB5F;
  border-radius: 5px;
  font-size: 20px;
  line-height: 23px;

  color: #F0FCF6;
}
.attention {
  display: none;
}

.connection button:hover {
  background-color: #206641;
  transform: scale(1.1);
}

@media (max-width:940px) {
  .portret {
    display: none;
  }
}

@media (max-width:700px) {
  .main {
    display: block;
    padding: 16px;
  }

  .main__content {
    gap: 16px;
  }

  .main-info {
    font-size: 16px;
    line-height: 19px;
  }

  .main-info2 {
    font-size: 16px;
    line-height: 19px;
  }

  .portret {
    display: none;
  }

  .connection-info {
    display: block;
    font-size: 12px;
  }

  .connection-info img {
    display: none;
  }

  .connection div {
    width: 100%;
  }

  .connection input {
    width: 100%;
    padding: 10px;
    font-size: 12px;
  }

  .connection button {
    width: 100%;
  }
  .attention {
    display: block;
    font-size: 12px;
  }
}